#panda-clouds-app {
	min-height: 100%;
	margin-bottom: -142px;
	overflow-x: hidden;
}

@media screen and (min-width: 990px) {
	#panda-clouds-app {
		overflow-x: visible;
	}
}

#panda-clouds-app:after {
	content: '';
	display: block;
	height: 142px;
}

select {
  cursor: pointer;
}

.login-form-column {
  width: auto;
  margin: 0 auto;
}

@media screen and (min-width: 650px) {
  .login-form-column {
    width: 26.5%;
  }
}

.login-form button {}

.login-form .btn:hover {
	color: #ffffff;
    background-color: #ed9c28;
    border-color: #d58512;
}

.signup-form .btn {
	background-color: #f0ad4e;
	color: #ffffff;
	padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    border-color: #eea236;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.signup-form .btn:hover {
	color: #ffffff;
    background-color: #ed9c28;
    border-color: #d58512;
}

#user-info .inner {
    margin: 0 10px 10px;
}

.server-image {
  float: left;
  width: 15%;
  margin: 0 10px;
  padding: 0 0 70px 0;
  text-align: center;
}

@media screen and (min-width: 990px) {
  .server-image {
    width: 15%;
    padding: 0;
  }
}

.img-responsive {
  width: 50%;
  margin: 0 auto;
}

@media screen and (min-width: 990px) {
  .img-responsive {
    width: 100%;
  }
}

.server-image-placeholder {
  width: 100%;
}

label.left-text {
  text-align: left;
}

.state {
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 10px;
}

@media screen and (min-width: 990px) {
  .state {
    width: 10px;
	padding: 0;
  }
}

.state-item {
  width: 10px;
  height: 34px;
  background-color: #e4e4e4;
  border-bottom: 2px solid #fff;
}

@media screen and (min-width: 990px) {
  .state-item {
    width: 5px;
    height: 67px;
  }
}

li.requested {
  background-color: red;
  padding: 5px;
  border-bottom: 1px solid #fff;
}

li.requested.false {
  background-color: #e4e4e4;
}

li.processing {
  background-color: yellow;
  padding: 5px;
  border-bottom: 1px solid #fff;
}

li.processing.false {
  background-color: #e4e4e4;
}

li.finished {
  background-color: green;
  padding: 5px;
  border-bottom: 1px solid #fff;
}

li.finished.false {
  background-color: #e4e4e4;
}

li.tested {
  background-color: blue;
  padding: 5px;
  border-bottom: 1px solid #fff;
}

li.tested.false {
  background-color: #e4e4e4;
}

.server-buttons .delete {
  background-image: url('../img/delete.png') !important;
}

.server-buttons .switch.off {
  background-image: url('../img/switch-off.png') !important; 
}

.server-buttons .switch.on {
  background-image: url('../img/switch-on.png') !important;
}

.server-last-column {
  position: absolute;
  z-index: 2;
  margin: 0;
  padding: 0 10px;
  width: 100%;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 700px) {
  .server-last-column {
    top: 0;
    width: 45%;
	padding: 15px 0 0 0;
  }
}

@media screen and (min-width: 990px) {
  .server-last-column {
    top: 0;
    width: 30%;
	padding: 15px 0 0 0;
  }
}

.top-photo-series {
  float: left;
  width: 69%; 
  display: block;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .top-photo-series {
    height: auto;
  }
}

.top-photo-series .btn-group {
  display: block;
}

.top-photo-series img {
  margin: 0 10px;
  width: 10%;
}

@media screen and (min-width: 1000px) {
  .top-photo-series img {
    margin: 0 8px;
    width: 32px;
  }
}

.top-photo-series .btn.btn-wbg {
  padding: 16px;
}

@media screen and (min-width: 1000px) {
  .top-photo-series  .btn.btn-wbg {
    padding: 16px; 
  }
}

.bottom-photo-series {
  float: left;
  width: 100%; 
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

@media screen and (min-width: 990px) {
  .bottom-photo-series {
    display: block; 
  }
}

.bottom-photo-series img {
  float: right;
  margin: 0 8px;
  width: 50%;
  height: auto;
  background-color: #3498db;
}

@media screen and (min-width: 990px) {
  .bottom-photo-series img {
    width: 50px;
    height: 50px;
  }
}

.server-buttons {
  float: right;
  margin: 0 20px 0 0; 
  text-align: center;
}

.view-server-details {
	position: relative;
	padding: 15px 0;
	overflow: hidden;
	border: 1px solid silver;
	width: 97.5%;
	margin: 0 auto 20px;
	border-bottom: 5px solid #ccc;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
}

.view-server-details .row {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (min-width: 686px) {
  .view-server-details .row {
    padding-bottom: 0; 
  }
}

.server-details-list {
  float: left;
  width: 50%;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

@media screen and (min-width: 1000px) {
  .server-details-list {
    padding-right: 15px;
	overflow: visible;
	height: auto;
  }
}

.server-details {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  height: 120px;
  overflow: hidden;
}

@media screen and (min-width: 990px) {
  .server-details {
    height: auto;
    overflow: visible;	
  }
}

.server-name {
  font-weight: bold;
}

.mmlistview #new-server {
  padding: 20px 60px;
  font-size: 24px;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 1px 10px #ccc;

  &:focus {
  	outline: none;
  }
}

@media screen and (min-width: 1000px) {
  .mmlistview #new-server {
    padding: 16px 16px 16px 60px;
    font-size: 24px;
  }
}

.server-details-actions {
  display: inline-block;
  width: 100%;
  list-style: none;
  position: relative;
  margin-bottom: 50px;
}

.mmlistview #filters li {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 990px) {
  .mmlistview #filters li {
    width: auto;
  }
}

.btn.btn-wbg {
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center center;
  padding: 22px;
}

.btn.warning {
  background-image: url(../img/warning.png);
}

.btn.error {
  background-image: url(../img/error.png);
}

.btn.running {
  background-image: url(../img/server-running.png);
}

.btn.maintenance {
  background-image: url(../img/server-maintenance.png);
}

.btn.computer {
  background-image: url(../img/computer.png);
}

.btn.delete {
  background-image: url('../img/delete.png') !important;
}

.footer-column {
  float: left;
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}

.footer-column:last-child {
  border-bottom: 0;
}

@media screen and (min-width: 990px) {
  .footer-column { 
    width: 33.33%;
    border-bottom: 0;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

#fileupload {
  display: none;
}

.image-upload {
  margin-bottom: 40px;
}

.upload-photo {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  cursor: pointer;
  text-align: center;
  border: 1px solid #ccc;
  border-bottom: 5px solid #ccc;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -moz-border-radius: 5px;
}

.remove-uploaded-photo {
  display: none;
}

.upload-photo.with-photo {
  width: 200px;
  height: auto;
  overflow: visible;
  position: relative;
  background-color: transparent;
}

.upload-photo.with-photo.editable .remove-uploaded-photo {
  display: block;
  width: 24px;
  height: 24px;
  content: 'x';
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 10;
  font-weight: bold;
  color: white;
  width: 24px;
  height: 24px;
  line-height: 1.6;
  background-color: grey;
}

.upload-photo.with-photo .remove-uploaded-photo {
  display: none;
}

.upload-photo img {
  visibility: hidden;
}

.upload-photo.with-photo img {
  width: 200px;
  visibility: visible;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;

  box-shadow: 0 1px 3px 0 #ccc;
  -webkit-box-shadow: 0 1px 3px 0 #ccc;
  -moz-box-shadow: 0 1px 3px 0 #ccc;
  -o-box-shadow: 0 1px 3px 0 #ccc;
}

.upload-photo.with-photo figcaption {
  display: none;
}

.upload-photo.with-photo.editable img {
  cursor: pointer;
  border: 1px dashed #000;
}

.server-photo-figure.editable {}

.upload-photo figcaption {
  position: absolute;
  top: 43%;
  z-index: 2;
  width: 100%;
  text-align: center;
}

progress {
  width: 99%;
  height: 17px;
  display: none;
}

.upload-photo.with-photo progress {
  width: 64.5%;
  top: 47%;
  left: 81px;
  display: none;
}

.server-photo,
.user-photo {
  width: 200px;
  height: auto; 
}

#fileselect {
	margin: 0 auto 10px;
}

.spinner-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 2000;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
}

.switcher {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.server-buttons label.switcher {
  margin: 0;
}

.switcher .switcher-input {
  display: none;
}

.switcher-slider  {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  background-color: #ccc;
  transition: .4s;

  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -o-border-radius: 26px;
}

.switcher-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px; 
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;

  border-radius: 26px;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  -o-border-radius: 26px;
}

.switcher-input:checked + .switcher-slider {
  background-color: #2196F3;
}

.switcher-input:focus + .switcher-slider {
  box-shadow: 0 0 1px #2196F3;
}

.switcher-input:checked + .switcher-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.states {
  float: left;
  padding-left: 0;
}

@media screen and (min-width: 990px) {
  .states {
    padding-left: 15px;
  }
}

.dummy-.col-md-2 {
  float: right;
  width: 17%;
  display: block;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 686px) {
  .dummy-.col-md-2 {
    display: none; 
  }
}

.dummy-.col-md-2 img {
  width: 70%;
  background-color: #3498db; 
}

.view-details {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

@media screen and (min-width: 990px) {
  .view-details {
    display: none;
  }
}

#create-new-account-modal .col-sm-5 {
  padding-left: 0;
}

.account-thumbnail {
	width: 32px;
	height: 32px;

	border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
	-o-border-radius: 32px;
}

.navbar-nav .dropdown-toggle.with-thumbnail {
	padding: 11px;
}

.server-list-section {
	ul {
		list-style: none;
		padding: 0;
	}
}
