html, body {
	height: 100%;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

h1 {
	font-size: 40px;
}

h3 {
	color: #95a5a6;
	font-weight: 400;
}

h4 {
	color: #95a5a6;
	font-weight: 400;
	font-size: 20px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3498db;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar-default {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #3498db;
	border-color: transparent;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.form-control {
	height: 42px;
	font-size: 18px;
	width: 100%;
}

i {
	margin: 8px;
	color: #3498db; 
}


/* HeaderWrap */
#headerwrap {
	background-color: #3498db;
	padding-top: 120px;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
	margin-bottom: 15px;
	color: white;
	font-size: 45px;
	font-weight: 300;
	letter-spacing: 1px;
}

#headerwrap form {
  margin-bottom: 65px;
}

/*=======================================
 PRICE SECTION STYLES
 ==================================================*/
#price-sec {
    padding-top: 80px;
    padding-bottom: 80px;
}

.plan {
    background: #eef1f3;
    padding: 0 0 15px 0;
    margin: 30px 0px;
    list-style: none;
    text-align: center;
    
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.plan:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.plan li {
    padding: 15px 0px;
    color: #434749;
    border-top: 1px dashed #000;
}

.plan li.plan-head {
    padding: 15px 0px;
    background-color: #0d77b6;
    color: #FFFFFF;
    line-height: 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
}

.plan li.main-price {
    padding: 25px 0px;
    background-color:rgba(21, 180, 255, 1);
    color: #fff;
    border: none;
    font-weight: 900;
    font-size: 30px;
}

.c-b {
    background-color:#B60D43!important;
}
.c-v {
    background-color: #01AA30!important;
}
.c-a {
    background-color: #818181!important;
}



/*=======================================
 LEGAL MENU STYLES
 ==================================================*/
#legal-menu { 
    width: 100%; 
    overflow: scroll; 
}

#legal-menu ul { 
    list-style: none; 
    position: relative; 
    float: left; 
    display: block; 
    left: 50%; 
}

#legal-menu ul li { 
    position: relative; 
    float: left; 
    display: block; 
    right: 50%; 
}

#legal-menu ul li a{ 
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
#legal-menu li a:hover {
    color: #212121;
    text-decoration: none;
    outline: 0;
}

.server-details-contents {
    float: left;
    width: 100%;
    display: block;
    margin-top: 128px;
	position: relative;
}

button.navbar-toggle {
	z-index: 1;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}

.mmlistview.content {
  float: left;
  width: 100%;
  display: block;
}

.panda-logo {
  width: 173px;
  height: auto;
}

@media screen and (min-width: 990px) {
  .panda-logo {
    width: 210px;
    height: auto;
  }
}

.image-upload .form-group {
	display: none;
}

#dropdown + .dropdown-menu {
	display: block;
}

